.image{
    margin: 15px;
    border-radius: 10px;
    height: 300px;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.655);
}

#image-container{
    width: 100vw;
}
.bg-blue-800 {
    background-color: #003f6c; /* Valor hexadecimal de $blue-800 */
    color: white; /* Ajusta el color del texto para el contraste */
}
.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

.button {
    margin-left: 1rem;
}